@import '../styles/global';

.library-container {
    display: flex; 
    justify-content: flex-start;
    gap: 30px; 
    padding: 20px;
}

#tabela-kolege {
    display: block;
}

.iznajmljene-knjige {
    width: 600px;
    padding: 15px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #e6f7ff !important;
}